<% content_for :title, "Contact | #{base_title}" %>                                                                  

<div class="centered-page">
  <h1>Contact</h1>
    <p>This is the contact page for Created.Software</p>
</div>
