<% content_for :title, "Contact | #{base_title}" %>                                                                  

<div class="centered-page">
  <h1>Created.Software</h1>
  <p>
    This is the contact page for
    <a href="https://www.created.software/">Created.Software</a>
  </p>
</div>
