<% content_for :title, "#{base_title}" %> 

<div class="centered-page landing-page">
  <h1>A clean, professional, and minimal <br> platform
      to showcase your projects.</h1>
  <br>
  <h2>Share your profile link with employers. Browse apps made by other developers.</h2>
   
  <br>
  <h3>Secure your Username. Join Now.</h3>
  <br>
  <form>
    <div class="input-group">
      <input type="email" class="email-input"
        placeholder="Enter your email" required>
      <button type="submit" class="signup-button">Signup</button>
    </div>
  </form>
</div>
