<% content_for :title, "Signup | #{base_title}" %>                                                                 

<div class="centered-page">
  <h1>Signup</h1>
  <p>This is the Signup page for Created.Software</p>
</div>
